# Configuration de la base de données PostgreSQL + PostGIS (Docker sur port 5433)
DB_NAME=mbeund_mi
DB_USER=postgres
DB_PASSWORD=mbeund_mi_password
DB_PORT=5433

# Configuration de Redis
REDIS_PORT=6379
