# Configuration de base de Django
DEBUG=True
SECRET_KEY=django-insecure-replace-this-with-a-real-key-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Configuration hybride : False pour le développement Windows local (SQLite), True pour PostGIS (Docker/Prod)
USE_GIS=False

# Configuration de la base de données PostgreSQL/PostGIS (Docker)
# Format : postgis://user:password@host:port/dbname
DATABASE_URL=postgis://postgres:postgres@db:5432/mbeund_mi_db

# Configuration Redis (Docker)
REDIS_URL=redis://redis:6379/0

# Configuration Celery (Docker)
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
